.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 256px;
  margin: 30px auto;
  padding: 24px;
  gap: 16px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  text-align-last: left;
  margin-bottom: 8px;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
}
.feedback-form textarea {
  height: 80px;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid #000;
  outline: none;
}

.feedback-form button {
  width: 86px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  background-color: #4e75ff;
  border: none;
  color: #fff;
  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
