.gallery {
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  position: relative;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.8;
  transition: transform 0.1s;
  cursor: zoom-in;
}
.gallery-image:hover {
  transform: scale(1.04);
}
